<h1>Photo Details</h1>

<p>
<%= @myphoto.caption %>
</p>

<img src= "<%= @myphoto.source %>">


<p><%= time_ago_in_words(@myphoto.created_at) %></p>

<a href="/photos"> Go Back </a>
<a href="/photos/<%= @myphoto.id %>/edit"> Edit</a>
<a href="/photos/<%= @myphoto.id %>/delete"> Delete </a>
